<div class="game-container full-width">
    <div id="game-start-menu" class="full-width fadein fadeout margin-top-10" ng-show="menu.start">
        <div class="row">
            <button type="button" class="btn btn-standard col-xs-12 menu-item" ng-click="selectGame()">
                Start Game
            </button>
        </div>
        <a href="/score">
            <div class="row">
                <button type="button" class="btn btn-standard col-xs-12">
                    Leaderboard
                </button>
            </div>
        </a>
        <a href="/edit">
            <div class="row">
                <button type="button" class="btn btn-standard col-xs-12" ng-click="showScore()">
                    Editor
                </button>
            </div>
        </a>


        <div class="row">
            <button type="button" class="btn btn-standard col-xs-12" ng-click="showInfo()">
                Info
            </button>
        </div>
    </div>

    <div id="game-selector" class="fadein fadeout margin-top-10" ng-show="menu.list">

        <table class="game-item-container">
            <tr ng-repeat="game in games" class="row game-item anim" ng-click="showGame(game.id)">
                <td>{{game.name}}</td>
                <td>{{game.board.length}} x {{game.board.length}}</td>
            </tr>
        </table>


        <button type="button" class="btn btn-standard col-xs-12" ng-click="showMenu()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span class="icon-fix">Back</span>
        </button>
    </div>

    <div id="game-score" ng-show="menu.score">
        <div class="back-section">
            <button type="button" class="btn btn-standard col-xs-12" ng-click="showMenu()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span
                    class="icon-fix">Back</span>
            </button>
        </div>
    </div>

    <div id="game-info" ng-show="menu.info">
        Game based on Google Engine API and angularJS
        <div class="back-section">
            <button type="button" class="btn btn-standard col-xs-12" ng-click="showMenu()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span
                    class="icon-fix">Back</span>
            </button>
        </div>
    </div>

</div>