<div class="game-container full-width">
    <div id="game-start-menu" class="full-width fadein fadeout margin-top-10" ng-show="menu.start">
        <div class="row">
            <button type="button" class="btn btn-standard col-xs-12 menu-item anim" ng-click="selectGame()">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Start game
            </button>
        </div>
        <a href="/score">
            <div class="row">
                <button type="button" class="btn btn-standard col-xs-12 anim">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span> Score
                </button>
            </div>
        </a>
        <a href="/edit">
            <div class="row">
                <button type="button" class="btn btn-standard col-xs-12 anim" ng-click="showScore()">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editor
                </button>
            </div>
        </a>


        <div class="row">
            <button type="button" class="btn btn-standard col-xs-12 anim" ng-click="showInfo()">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
            </button>
        </div>
    </div>
    <div id="game-selector" class="fadein fadeout margin-top-10" ng-show="menu.list">
        <table class="game-item-container">
            <tr ng-repeat="game in games" class="row game-item anim" ng-click="showGame(game.id)">
                <td>{{game.name}}</td>
                <td>{{game.board.length}} x {{game.board.length}}</td>
            </tr>
        </table>
        <div class="row game-item anim" ng-show="games == null || games.length==0 "><a
                href="/edit">
            <div>Games not found, got to editor and add new one</div>
        </a>
        </div>
        <div class="back-section">
            <button type="button" class="btn btn-standard col-xs-12" ng-click="showMenu()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span
                    class="icon-fix">Back</span>
            </button>
        </div>
        <div id="game-score" ng-show="menu.score">
            <div class="back-section">
                <button type="button" class="btn btn-standard col-xs-12" ng-click="showMenu()">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span
                        class="icon-fix">Back</span>
                </button>
            </div>
        </div>
        <div id="game-info" ng-show="menu.info">
            <div class="game-info row">
                <h1>Game based on Google Engine API and angularJS</h1>

                <h2>Stack:</h2>
                <ul>
                    <li>
                        <a href="https://cloud.google.com/appengine/docs">Google Engine API</a>
                    </li>
                    <li>
                        <a href="https://cloud.google.com/appengine/docs/java/endpoints/">Google Cloud Endpoints</a>
                    </li>
                    <li>
                        <a href="https://code.google.com/p/objectify-appengine/wiki/Introduction">Objectify</a>
                    </li>
                    <li>
                        <a href="https://angularjs.org/">AngularJS</a>
                    </li>
                </ul>
                <h2>Author:</h2>

                <div>
                    <a href="https://ua.linkedin.com/in/krivtsovsergey">Serhii Krivtsov</a>
                </div>
                <h2>Source code:</h2>

                <div>
                    <a href="https://github.com/kbss/word-puzzle-cloud">GitHub</a>
                </div>
            </div>
            <div class="back-section">
                <button type="button" class="btn btn-standard col-xs-12" ng-click="showMenu()">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span
                        class="icon-fix">Back</span>
                </button>
            </div>
        </div>
    </div>