<div class="game-container full-width margin-top-5">

    <table class="game-item-container leaderboard">
        <tr ng-repeat="s in score" class="row game-item anim">
            <td>{{$index+1}}</td>
            <td class="player-list">{{s.name}}</td>
            <td><a href="/game/{{s.game.id}}">{{s.game.name}}</a></td>
            <td><span class="list-score">{{s.score}}</span></td>
        </tr>
    </table>

    <div class="back-section">
        <a href="/">
            <button type="button" class="btn btn-standard col-xs-12">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span
                    class="icon-fix">Back</span>
            </button>
        </a>
    </div>
</div>