html, body, main, #content {
    width: 100%;
    height: 100%;
}

.spinner-container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 99999;
}

.spinner-box {
    position: absolute;
    top: 50%;
    left: 50%;
}

.spinner-text {
    position: relative;
    right: 12px;
    top: 20px;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: #333;

    /*margin: 100px auto;*/
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.game-container {

    padding: 10% 20%;
    height: calc(100% - 50px);
}

.game-start-menu {
    text-align: left;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

#game-board {
    position: relative;
    top: 10%;
    /*left: 10%;*/
    display: inline-block;
}

.game-board > tbody > tr > td {
    cursor: pointer;
}

/*table tr td {*/
/*background-color: red;*/
/*width: 30px;*/
/*height: 30px;*/
/*}*/

.board-cell {
    width: 5%;
    height: 5%;
    background-color: #9d9d9d;
    text-align: center;
    cursor: pointer;
}

.board-cell:hover {

    background-color: #717171;

}

.selected {
    background-color: #999d58 !important;
}

.passed {
    background-color: #179d2d !important;
    border: 1px solid green;
}

#game {
    text-align: center;
}

/*.board-row > td {*/
/*width: 30px;*/
/*height: 30px;*/
/*}*/