html, body, main, #content {
    width: 100%;
    height: 100%;
}

.spinner-container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 99999;
    opacity: 1;
    top: 0px;
}

.spinner-box {
    position: absolute;
    top: 40%;
    left: 50%;
}

.spinner-text {
    position: relative;
    right: 26px;
    top: 20px;
    font-size: 26px;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;

    /*margin: 100px auto;*/
    -webkit-animation: rotateplane 1s infinite ease-in-out;
    animation: rotateplane .8s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.game-container {

    padding: 0% 20%;
    /*height: calc(100% - 50px);*/
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

#game-board {
    position: relative;
    top: 10%;
    /*left: 10%;*/
    display: inline-block;
}

.game-board > tbody > tr > td {
    cursor: pointer;
}

/*table tr td {*/
/*background-color: red;*/
/*width: 30px;*/
/*height: 30px;*/
/*}*/

.board-cell {
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0.07);
    -moz-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
    opacity: 1;
    width: 7vmin;
    height: 7vmin;
    font-size: 4vmin;
    min-width: 25px !important;
    min-height: 25px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.anim {
    -moz-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
}

.selected, .board-cell:hover {
    background-color: rgba(255, 212, 0, 0.5) !important;;
}

.css-class-add, .css-class-remove {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.passed {
    background-color: rgba(0, 255, 42, 0.42);
}

#game {
    text-align: center;
}

.error-header {
    background-color: #ff6144;
}

.error-icon {
    color: red;
    font-size: 50px;
}
span.error{
    color: red;
    font-weight: bold;
}
.search-clear {
    /* position: absolute; */
    right: 55px;
    top: 5px;
    bottom: 0;
    height: 16px;
    margin: auto;
    cursor: pointer;
    color: #ccc;
    font-size: 22px;
    color: rgba(255, 165, 165, 0.43);
}

.search-clear:hover {
    color: rgb(255, 36, 56);
}

.animate-enter {
    -webkit-transition: .3s linear all; /* Chrome */
    transition: .3s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.passed-word {
    color: #179d2d;
}

.fadein {
    animation-duration: 0.2s;
}

.fadeout {
    animation-duration: 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
    /*transform: scale3d(.3, .3, .3);*/
}

/*.board-row > td {*/
/*width: 30px;*/
/*height: 30px;*/
/*}*/

.btn-standard {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-standard:hover {

    background-color: #eeeeea;
    color: #48729b;

}

.game-word-icon, .game-word {
    margin: 5px 5px;
    font-size: 4vmin;
}

.game-word {
    border: 1px solid rgba(128, 128, 128, 0.35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 4px;
}

.game-word.passed {
    border-color: #179d2d;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;

}

label.player-score, span.player-score {
    font-size: 7vmin;
    font-weight: bold;
}

label.player-score, .player-list {
    color: #72BA66;
}

span.player-score, .list-score {
    color: rgb(255, 151, 49);
}

.list-score {
    font-size: 5vmin;
}

.score-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

input.player-name.ng-invalid-required {
    border-color: rgba(255, 0, 0, 0.44);
}

div.error {
    color: rgba(255, 0, 0, 0.67);
    margin-left: -10px;
    font-size: 3vmin;
}

div.error.ng-hide.block-error {
    display: block !important;
    visibility: hidden;
}

.footer {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.game-item, .game-item:hover {
    margin-right: 0px !important;
    margin-left: 0px !important;
    font-size: 4vmin;
    cursor: pointer;
}

.game-item:hover {
    background-color: #eeeeee;
}

a.game-item {
    color: rgb(89, 89, 89);
    font-weight: bold;
}

table.game-item-container {
    width: 100%;
}

span.icon-fix {
    margin-left: 5px;
}

.back-section {
    padding-top: 50px;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.game-info {
    font-size: 16px;
    padding: 30px 30px;
}

.logo-container {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.error-status {
    font-size: 10rem;
    color: #ff9731;
}

.error-container {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: auto auto;
    text-align: center;
}

.error-message{
    font-size: 5rem;
}